# Mars Payment Node
MARSPAY_MARS_DB_NAME=marspay_mars
MARSPAY_MARS_DB_USERNAME=marspay
MARSPAY_MARS_DB_PASSWORD=change-me-mars
MARSPAY_MARS_DB_PORT=5432
MARSPAY_MARS_HTTP_PORT=8080

# Interplanetary Relay
MARSPAY_RELAY_DB_NAME=marspay_relay
MARSPAY_RELAY_DB_USERNAME=marspay
MARSPAY_RELAY_DB_PASSWORD=change-me-relay
MARSPAY_RELAY_DB_PORT=5433
MARSPAY_RELAY_HTTP_PORT=8081
MARSPAY_RELAY_DELIVERY_DELAY=1m

# Earth Payment Service
MARSPAY_EARTH_DB_NAME=marspay_earth
MARSPAY_EARTH_DB_USERNAME=marspay
MARSPAY_EARTH_DB_PASSWORD=change-me-earth
MARSPAY_EARTH_DB_PORT=5434
MARSPAY_EARTH_HTTP_PORT=8082